In [3]:
import pandas as pd
import numpy as np

In [4]:
bible = pd.read_csv("./data/training_dataset.csv")

In [8]:
bible.head(10)

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,scribe
0,0,-0.091897,0.297600,0.079145,0.196496,0.261718,1.269960,0.446679,-0.751707,0.001721,0.998901,Philippus
1,1,-0.091897,0.226939,0.267634,0.024091,0.261718,-0.806282,0.597681,-0.601277,0.126447,-0.909619,Paithonius
2,2,0.167323,0.313302,0.168055,-0.383198,0.261718,0.190314,0.824183,0.558250,-0.247731,-0.148073,Marcus
3,3,-0.017834,-0.228430,0.370770,1.293671,0.172340,0.896237,0.182426,0.416867,1.373706,0.868284,Noaelius
4,4,0.043885,0.407516,-0.120014,0.281743,0.261718,-0.183409,0.106925,0.142896,0.531806,-0.101311,Marcus
5,5,9.943651,-0.220579,-0.048886,-0.675372,-3.045274,3.719926,2.371950,-2.598171,-2.898156,1.370295,Begonius
6,6,-0.178304,-0.189174,0.264078,-0.640492,0.172340,0.231839,0.144676,-1.605713,-1.900349,0.266479,Marcus
7,7,-0.178304,0.258344,-0.123570,0.228303,0.082961,-0.266459,0.824183,-0.109251,-0.310094,-0.552848,Philippus
8,8,0.142636,-0.142067,0.246296,0.789259,-1.347089,1.145386,0.710932,0.511420,-0.185368,0.728878,Marcus
9,9,0.031541,-2.426761,0.370770,0.779770,0.172340,0.397939,0.635431,1.033035,0.344717,0.115959,Marcus

In [7]:
bible.dtypes

id          int64
F1        float64
F2        float64
F3        float64
F4        float64
F5        float64
F6        float64
F7        float64
F8        float64
F9        float64
F10       float64
scribe     object
dtype: object

In [6]:
bible.describe()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10
count,12017.000000,12017.000000,12017.000000,12017.000000,12017.000000,12017.000000,12017.000000,12017.000000,12017.000000,12017.000000,12017.000000
mean,6008.000000,0.018129,0.018044,-0.000388,-0.024999,0.011010,0.005436,0.033862,-0.011483,-0.014828,-0.015306
std,3469.153427,1.014528,3.624547,1.067595,0.992491,0.963444,1.103847,1.238767,1.000042,1.071147,0.981989
min,0.000000,-3.498799,-2.426761,-3.210528,-5.440122,-4.922215,-7.450257,-11.935457,-4.247781,-5.423855,-6.719324
25%,3004.000000,-0.116585,-0.259834,0.061363,-0.542563,0.172340,-0.598658,-0.044076,-0.571435,-0.372457,-0.517827
50%,6008.000000,0.056229,-0.055704,0.214288,0.064820,0.261718,-0.058835,0.220177,0.100338,0.064084,-0.036297
75%,9012.000000,0.216699,0.203385,0.349432,0.600056,0.261718,0.564038,0.446679,0.636669,0.469443,0.505617
max,12016.000000,11.819916,386.000000,50.000000,3.987152,1.066121,53.000000,83.000000,4.580832,44.000000,7.654104